body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #49df35;}
   .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#resultDiv {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}